.title{
    display: inline-block;
    color: #0068c3;
    margin-right: 6px;
    font-size: 1.8rem;
}
.sub_explain {
display: inline-block;
vertical-align: baseline;
font-size: 1rem;
color: #8f8f8f;
/* color: rgba(var(--place-color-text5), 1); */
}
.star{
fill: #fc4c4e;
width: 12px;
height: 12px;
margin: 4px 2px 0 0;
display: inline-block;
vertical-align: top;
}
table{
    width: 334px;
    height: 112px;
    
}

ul {
list-style: none;
}
img{
margin-left:140px;
width:50%;
height: 50%;        
}
.img_left{
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
.img_right{
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}