.sidebar {
	width:430px; 
	height: 100%; 
	background:white; 
	position:fixed; 
	top:0; 
	left:-430px; 
	transition:all .35s;
    position:absolute; 
    overflow: auto; 
    margin-top: 30px;
}