input[id="menuicon"]{
    display:none;
    z-index: 2;
    position:absolute;
    background-color:#f5f5dc;
}

input[id="menuicon"]+label span{
    display:inline-block;
    position:absolute;
    width:80%;
    height: 8px;
    border-radius:30px;
    background:#f5f5dc;
    transition:all .35s;
    padding: 10px;
    margin-top: 15px;
    margin-left: 40px;
    
}
input[id="menuicon"]+label span:nth-child(1){
    padding: 10px;
    display: inline-block;
    position:absolute;
    background-color:#f5f5dc;
}
input[id="menuicon"]+label span:nth-child(2){
    display: inline-block;
    padding: 10px;
    position:absolute;
    background-color:#f5f5dc;
}
input[id="menuicon"]+label span:nth-child(3){
	margin-bottom: 10px;
    display: inline-block;
    padding: 10px;
    position:absolute;
    background-color:#f5f5dc;
}
input[id="menuicon"]:checked+label span:nth-child(1){
    background-color: white;
    position:absolute;
}
input[id="menuicon"]:checked+label span:nth-child(2){
    opacity:0;
    position:absolute;
}
input[id="menuicon"]:checked+label span:nth-child(3){
    background-color: white;
    position:absolute;
}
input[id="menuicon"]+label{
    display:block;
    width:80px;
    height:30px;
    position:absolute;
    cursor:pointer;
    
}


input[id="menuicon"]:checked + label + div {left:0;}
