header {
            
    height: 108px;
    padding: 1rem;
    color : white;
    background: #d0b78e;
    font-weight: bold;
    display: flex;
    /* justify-content: space-between; */
    align-items:center;
    z-index: 10;
    position:relative;
    margin-top: -15px;
    margin-left:-5px;
    
    
}
h1{margin-left: 80px; z-index: 10;}

#category{
    position: absolute;
    left: 52.5%;
    height: 40px;
    width: 5%;
    border-radius: 40px;
    border-color: darkgray;
    top: 39%;
}
#save{
    position: absolute;
    left: 45%;
    height: 40px;
    width:5%;
    border-radius: 40px;
    border-color: darkgray;
    top: 39%;
    
}
#follow{
    position: absolute;
    left: 60%;
    height: 40px;
    width:5%;
    border-radius: 40px;
    border-color: darkgray;
    top: 39%;
}

.search-box{
    position: absolute;
    margin-top: 15px;
    margin-left: 190px;
    top: 40px;
    left: 15%;
    background-color : white;
    height: 40px;
    border-radius: 40px;
    z-index: 10;
}

.search-btn{
    color: black;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4x;
    line-height: 40px;
    width: 340px;
    z-index: 10;
}